.header{
	background-color: #c5af7d;
	color: #002255;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin: auto;
    width: 50%;
    border: 3px solid #998966;

}
#id_search{
	width: 500px;
}


table {
    border-collapse: collapse;
    width: 100%;

}
td {
	vertical-align: top;
	padding: 10px;
}
th {
	background-color: #002255;
	color: #c5af7d;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
}
th, td {
   border-left: 3px solid #002255;
   border-right: 3px solid #002255;
   border-top: 1px solid #002255;
   border-bottom: 1px solid #002255;

}
#myTable td:nth-child(1){
  width: 5%;
}
#myTable td:nth-child(2) {
  width: 15%;
} 
#myTable td:nth-child(3) {
  width: 60%;
} 
#myTable td:nth-child(4) {
  width: 20%;
} 
