## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>homepage</title>


        ## render the styles with the same name as this template and its supertemplates
        ${ django_mako_plus.link_css(self) }
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
        <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>
    </head>
    <body>

        <%block name="content">
            Site content goes here in sub-templates.
        </%block>

        ## render the scripts with the same name as this template and its supertemplates
        ${ django_mako_plus.link_js(self) }

    </body>
</html>
